/* add vocabulary */
.addVocabularyInput {
    background-color: #06011b;
    box-sizing: border-box;
    border: none;
    transition: box-shadow 250ms;
    display: flex;
    flex-direction: row;
    height: 9.28571428571vh;
    border-left: 0.5vw solid transparent;
}

.trainingBody,
.addVocabularyBody,
.inflectVocabularyBody {
    margin: 0px;
    background-color: #0e062e;
    overflow: hidden;
}

.trainingContainer,
.addVocabularyContainer,
.trainingContainer,
.inflectVocabularyContainer {
    height: 65vh;
    width: 100vw;
}

.addVocabularyContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    gap: 9.28571428571vh;
}

.trainingIconPlaceholder,
.addVocabularyIconPlaceholder,
.inflectVocabularyIconPlaceholder {
    min-height: 20vh;
    max-height: 20vh;
    width: 100vw;
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 2vh;

    h1 {
        margin: 0px;
    }
}

.trainingNavbar,
.addVocabularyNavbar,
.inflectVocabularyNavbar {
    height: 15vh;
    width: 100vw;
    padding: 2vh 1vw 2vh 1vw;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.navButton {
    background-color: rgb(210, 210, 210);
    transition: background-color 250ms;
    color: #0e062e;
    height: 11vh;
    width: 12vh;
    font-size: 9vh;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButton:hover {
    background-color: white;
    box-shadow: #ffffff 0 0 0.5vh 0.5vh;
    color: #696969; 
}

#addVocabularyIcon {
    height: 20vh;
    width: auto;
}

.clicked {
    background-color: white;
}

.selected {
    box-shadow: 0 0 0.5vh 0.5vh rgba(138, 43, 226, 1);
    width: 99.5vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}

.shadow {
    box-shadow: 0 0 1vh 1vh rgba(43, 226, 49, 1);
}

/* show vocabulary */

.showVocabularyBody {
    margin: 0px;
    background-color: #dfdfdf;
    overflow: hidden;
}

.showVocabularyIconPlaceholder {
    height: 7.5vh;
    font-size: 3vh;
    width: auto;
    background-color: #ffffff;
    display: grid;
    place-content: center;
}

#showVocabularyIcon {
    height: 7vh;
    width: auto;
}

.showVocabularyContainer {
    height: 88vh;
    width: auto;
    display: grid;
    grid-template-columns: 5.76470588235% repeat(4, 23.0588235294%);
    gap: 1vh;
    margin: 1vh;
    margin-right: 0;
    padding-right: 1vh;
    box-sizing: border-box;
    align-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.showVocabularyNavbar {
    height: 2.5vh;
    background-color: #ffffff;
    display: flex;
    position: absolute !important;
    bottom: 0;
    height: 2.5vh;
    width: 100vw;
    justify-content: space-around;
    align-content: center;
    font-family: 'Proxima Nova', 'Consolas';
    font-size: 1vh;

    span {
        align-content: center;
    }
}

.showVocabularyNavbar span:first-child {
    margin-left: 20vw;
}

.showVocabularyNavbar span:last-child {
    margin-right: 20vw;
}

.word {
    background-color: #f5f5f5;
    height: 5vh;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit {
    border: none;
    padding: 0;
    margin: 0;
    height: max-content;
    width: max-content;
    background-color: #f5f5f5;
    text-align: center;
    font-family: 'Consolas';
    font-size: 1vw !important;
    transition: border 250ms;
    justify-content: center;
}

input.checkbox {
    height: 1.5vw !important;
    width: 1.5vw !important;
    margin: 0 !important;
    border: #0e062e;
}

.cdiv span {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    font-weight: bold;
    cursor: context-menu;
}

.cdiv.mouseon {
    animation: delete 1000ms forwards 500ms;
}

.cdiv {
    background-color: whitesmoke;
}

.danger {
    background-color: #ff9696;
}

.danger input.edit {
    background-color: #ff9696;
}

@keyframes delete {
    0% {
        background-color: whitesmoke;
    }

    100% {
        background-color: #ff0000;
    }
}

/* training mode */
.trainingBody {
    height: 115vh;
}

.trainingIconPlaceholder {
    display: grid;
    place-content: center;
}

#trainingIcon {
    height: 10vh;
    width: auto;
}

.t {
    background: none;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.not-editable {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}

.not-editable span {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    font-weight: bold;
}

.homeDiv {
    background-color: #440075;
    border-radius: 5vh 5vh 0 0;
    height: 15vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: margin-top 1000ms, height 1000ms;
}

.homeButton {
    border-radius: 100%;
    border: 0.5vh solid white;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moveUp {
    margin-top: -15vh;
}

.moveDown {
    margin-top: 0;
}

/* home menu */
.homeBody {
    margin: 0;
    background: none;
    overflow: hidden;
}

.homeIconPlaceholder {
    height: 65vh;
    display: grid;
    justify-items: center;
    padding-top: 15vh;
    box-sizing: border-box;
    grid-template-rows: auto;
}

#icon {
    height: 30vh;
    width: auto;
}

#version {
    height: 3.75vh;
    width: auto;
    ;
    justify-self: right !important;
    align-self: flex-end !important;
    margin-bottom: 1vh;
    margin-right: 4vw;
}

.homeInput {
    height: 12vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.homeNavbar {
    min-height: 23vh;
}


/* inflect vocabulary */
.inflectVocabularyBody {
    background-color: #0f004a;
}

.inflectVocabularyContainer.nouns {
    display: grid;
    grid-template-rows: 7.69230769231% repeat(6, 15.3846153846%);
    grid-template-columns: 10% 45% 45%;
}

.inflectVocabularyContainer.verbs {
    display: grid;
    grid-template-columns: 10% 45% 45%;
    grid-template-rows: 14.2857142857% repeat(3, 28.5714285714%);
    padding-top: 5vh;
    padding-bottom: 15vh;
    box-sizing: border-box;
}

#container:focus {
    outline: none;
}

.inflectVocabularyBody div {
    div {
        background-color: #06011b;
        margin: 1vh 1vw;
    }
    
}

.editable {
    display: flex;
    flex-direction: row;
}

.firstrow {
    background-color: transparent !important;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    font-weight: bold;
    font-size: 75%;
}

.firstcolumn {
    background-color: transparent !important;
    text-align: right;
    align-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    color: white;
    font-weight: bold;
}

.selectedElement {
    box-shadow: 0 0 0.5vh 0.5vh rgba(138, 43, 226, 1) !important;
}

.selectedElement.v {
    box-shadow: 0 0 0.5vh 0.5vh #ff5e01 !important;
}

.selectedElement.shadowDesign,
.selectedElement.redShadowDesign,
.selectedElement.greenShadowDesign {
    box-shadow: 0 0 1vh 1vh rgba(138, 43, 226, 1) !important;
}

.selectedElement.shadowDesign.v,
.selectedElement.redShadowDesign.v,
.selectedElement.greenShadowDesign.v {
    box-shadow: 0 0 1vh 1vh #ff5e01 !important;
}

.redShadowDesign.v {
    box-shadow: 0 0 0.5vh 0.5vh #ff00d4;
}

.savedElement {
    box-shadow: 0 0 1vh 1vh #2be231;
}

.roundButton {
    border-radius: 100%;
    background-color: whitesmoke;
    border: 1px ridge white;
    height: 10vh;
    width: 10vh;
    align-items: center;
    justify-content: center;
}

.roundButton:hover {
    background-color: white;
    box-shadow: #ffffff 0 0 0.5vh 0.5vh;
    color: #696969;
}

.click {
    background-color: black !important;
    text-shadow: white !important;
    color: white !important;
}

.inflectVocabularyNavbar {
    justify-content: space-evenly;
}

.deletionButton {
    background-color: #ea0000;
    font-size: 5vh;
    color: white;
}

.deletionButton.v {
    background-color: #ff00d4;
}

.shadowDesign {
    box-shadow: 0 0 0.5vw 0.5vh #06011b;
}

.greenShadowDesign {
    box-shadow: 0 0 0.5vw 0.5vh #2be231;
}

.redShadowDesign {
    box-shadow: 0 0 0.5vw 0.5vh #e80000;
}

.selectedElement.tab {
    box-shadow: 0 0 1vh 1vh #4400ff !important;
}

.selectedElement.tab.v {
    box-shadow: 0 0 1vh 1vh rgb(211, 0, 0) !important;
}

.known-case {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    background: transparent;
    background-image: radial-gradient(#06011b, #0f004a);
    box-shadow: none;

    span {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
        color: white;
        font-weight: bold;
    }
}

.c {
    font-size: 7.5vh;
}